<!-- nav -->
<div>
    <nav class="topnav">
      <div>
          <a class="active" routerLink="/home">Strona główna</a>
          <a class="nav-item nav-link" (click)="redirectToStudents()">Studenci</a>
          <a class="nav-item nav-link" (click)="redirectToLecturer()">Pracownicy naukowi</a>
          <a class="nav-item nav-link" (click)="redirectToSubjects()">Przedmioty</a>
          <a class="klasatestowa" routerLink="/login">Sign in</a>
      </div>
    </nav>
    
    <!-- main content container -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
    </div>
    
    <footer> <small>Copyright © 2023 Mateusz Kondraciuk & Jakub Modzelewski . All Rights Reserved.</small></footer>
    </div>