<div class = "container">
    <h1>Lecturers</h1>
    <div class="lecturers-container">
        <div class="add-lecturer">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="Name" [(ngModel)]="lecturer.name">
                </div>
                <div class="form-group">
                    <label for="">Surname</label>
                    <input type="text" name="Surname" [(ngModel)]="lecturer.surname">
                </div>
                <div class="form-group">
                    <label for="">AcademicTitle</label>
                    <input type="text" name="AcademicTitle" [(ngModel)]="lecturer.academicTitle">
                </div>
                <div class="form-group">
                    <button>Zapisz</button>
                </div>
            </form>
        </div>
        <div class="lecturers-list">
            <div (click)="populateForm(lec)" class="lecturer" *ngFor="let lec of lecturers">
              <div class="lecturer-details">
                <span>{{lec.name}} {{lec.surname}}</span>
                <span>{{lec.academicTitle}}</span>
              </div>
              <div class="lecturer-action">
                <a (click)="deleteLecturer(lec.lecturerID)"><i class="fa-solid fa-trash"></i></a>

              </div>
              <a class="lecturer-info" (click)="moreInfo(lec)"><i class="fa-sharp fa-solid fa-circle-info"></i></a>
          </div>
        </div>
        
    </div>
    <div class="lecturers-container2">
    <div class="lecturer-moredetails">
        <h3>Więcej informacji o pracowniku</h3>
        <br>
        <p><b>Imię:</b> {{lecturerInfo.name}} <b>Nazwisko:</b> {{lecturerInfo.surname}}</p>
        <p><b>Tytuł:</b> {{lecturerInfo.academicTitle}}</p>
        <p><b>Przedmioty:</b></p>
        <div class="lecturer-subjects" *ngFor="let sub of profSubjects">
            <span>{{sub}}</span>
        </div>
        <p><a (click)="addSubjectsToLecturer()"><button>Zapisz</button></a></p>
    </div>
    <div class="lecturer-subjectToChoose">
        <h3>Przedmioty do wyboru</h3>
        <div class="lecturer-subjects">
            <div class="lecturer-subject" *ngFor="let sub of subjects">
                <input type="checkbox" id="isChecked" (change)="addToProfSubjects($event, sub)">
                <label for={{sub}}> {{sub}}</label><br>
            </div>
        </div>
    </div>
    <div>
    </div>
    </div>
</div>