<div class = "container">
    <h1>Lecturers</h1>
    <div class="lecturers-container">
        <div class="add-lecturer">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="Name" [(ngModel)]="lecturer.name">
                </div>
                <div class="form-group">
                    <label for="">Surname</label>
                    <input type="text" name="Surname" [(ngModel)]="lecturer.surname">
                </div>
                <div class="form-group">
                    <label for="">AcademicTitle</label>
                    <input type="text" name="AcademicTitle" [(ngModel)]="lecturer.academicTitle">
                </div>
                <div class="form-group">
                    <button>Zapisz</button>
                </div>
            </form>
        </div>
        <div class="lecturers-list">
            <div (click)="populateForm(lec)" class="lecturer" *ngFor="let lec of lecturers">
              <div class="lecturer-details">
                <span>{{lec.name}} {{lec.surname}}</span>
                <span>{{lec.academicTitle}}</span>
              </div>
              <div class="lecturer-action">
                <a (click)="deleteLecturer(lec.lecturerID)"><i class="fa-solid fa-trash"></i></a>
              </div>
          </div>
        </div>
    </div>
</div>