<!-- nav -->
<nav class="topnav">
  <div>
      <a class="active" routerLink="/">Strona główna</a>
      <a class="nav-item nav-link" routerLink="/student">Studenci</a>
      <a class="nav-item nav-link" routerLink="/lecturer">Pracownicy naukowi</a>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>